<div id="label" class="mapOverlay">
  <h3>Berlin Locator Map</h3>
</div>

<div id="options" class="mapOverlay box">
  <div class="optionElem">
    <select id="categorySelect"
      ng-model="selectedCategory"
      ng-options="category.name for category in categories">
    </select>
  </div>
  <div class="optionElem">
    <!-- <input type="range"
      ng-model="timeInput"
      min="5"
      max="30"
      id="timeSlider"> -->
      <div id="timeSlider" ui-slider="slider.options" min="5" max="30" step="1" ng-model="slider.value"></div>
  </div>

  <div class="optionElem">
      <p id="timeText">time to travel: {{slider.value}} minutes</p>
  </div>
</div> <!-- end #options -->

<!--
<div id="locateMe" class="mapOverlay">
  <button class="btn btn-default" ng-click="getUserLocation()">Locate me</button>
</div>
-->

<div id="placeInfo" ng-show="isMarkerSelected" class="mapOverlay box">
  <h4>{{selectedMarker.title}}</h4>
  <p>ID: {{selectedMarker.id}}</p>
  <span class="glyphicon glyphicon-remove" ng-click="closeInfo()"></span>
  <button class="btn btn-default pull-right" ng-click="showMore()">Show More</button>
</div>

<div id="map">

    <ui-gmap-google-map
        id="tourpedia-map"
        center="map.center"
        zoom="map.zoom"
        options="map.options">

        <ui-gmap-marker
          idKey="position-marker"
          coords="positionMarker.coords"
          options="positionMarker.options"
          icon="'/assets/images/pins3.png'"
          events="positionMarker.events"></ui-gmap-marker>

        <ui-gmap-markers
          models="markers"
          coords="'self'"
          doCluster="true"
          clusterOptions="clusterOptions"
          click="markerClicked"
          icon="'iconUrl'"></ui-gmap-markers>

    </ui-gmap-google-map>

</div> <!-- end #map -->

<div id="place-details-overlay" ui-view=""></div>
