body {
  font-family: RobotoDraft, sans-serif;
}

#map {
  z-index: 0;
  .angular-google-map-container {
    height: 100vh;
    width: 100%;
  }

  img {
    z-index: 1000000;
  }
  }
}

.mapOverlay {
  position: absolute;
  z-index: 10;
}

.loadingOverlay {
  display: none;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; // overlay the rating stars

  background-color: white;
  opacity: 0.9;
}

.loadingContainer {
  position: relative;
  float: right;
  display: none;

  // these sizes are adapted to our spinners default layout
  // when it changes, adapt here as well!
  width: 48px;
  height: 100%;
  margin-top: -26px;
  margin-right: -60px;
}

&.loading {
  display: block;
}

#label {
  top: -5px;
  left: 20px;
}

#options {
  right: 20px;
  bottom: 20px;
  height: 40px;
  width: 530px;
  padding-left: 10px;

  .optionElem {
    padding-top: 10px;
    float: left;
  }

  .ui-slider {
    width: 200px;
    position: relative;
    margin: 4px 10px 0 20px;
    border: 1px solid #9d9d9d;

    .ui-slider-handle {
      background: #686868;
      // width: 10px;
      // height: 10px;
      // position: relative;
    }
  }
}

#locateMe {
  top: 60px;
  left: 20px;
}

#placeInfo {
  width: 400px;
  padding: 10px;
  right: 20px;
  top: 20px;

  img {
    margin-bottom: 20px;
  }

  h4 {
    float: left;
  }

  div {
    padding-top: 10px;

    rating-stars {
      padding-left: 10px;
    }
  }

  p {
    clear: both;
  }

  .glyphicon-remove {
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      cursor: pointer;
    }
  }
}
