<div id="place-details-container">
  <div class="relativeWrapper">
    <div id="box-container" class="box">
      <span class="glyphicon glyphicon-remove" id="back-button" ng-click="goBack()"></span>

      <div class="container">

        <div class="row">
          <h3 ng-show="hasLabel">{{details.label}}</h3>

          <div class="col-md-6">
            <h4>Details</h4>

            <p ng-show="isInDetails('address')">{{details.address}}</p>
            <p ng-show="isInDetails('phone')">phone: {{details.phone}}</p>
            <p ng-show="isInDetails('url')">website: <a ng-href="{{details.url}}" target="_blank">{{details.url}}</a></p>
            <p ng-show="isInDetails('wikiLink')">link: <a ng-href="{{details.wikiLink}}" target="_blank">{{details.wikiLink}}</a></p>
            <!-- <div ng-repeat="(key, value) in details">
              <p><strong>{{key}}:</strong> {{value}}</p>
            </div> -->
            <div id="image" ng-show="hasImage">
              <img ng-src="{{imgUrl}}" alt="Image of {{details.label}}" />
            </div>

            <button class="btn btn-default" id="route-there" ng-click="navigateToPlace()" ng-show="userLocation">Go There</button>
            </br>
            <div ng-show="hasReviews()" id="reviews">
              <h4>Reviews</h4>
              <div ng-repeat="review in reviews" class="review">
                <p>
                  {{review.text}} </br>
                  <!-- Rating: {{review.rating}} Polarity: {{review.polarity}} -->
                  <div id="rating" ng-show="review.rating > 0">
                    <span ng-repeat="n in range(0,review.rating)" class="glyphicon glyphicon-star"></span><span id="rating" ng-show="review.rating > 0" ng-repeat="n in range(0,5 - review.rating)" class="glyphicon glyphicon-star-empty"></span>
                  </div>

                </p>
              </div>
            </div>

          </div>
          <!-- end colum -->

          <div class="col-md-6">
            <div id="interesting-places">
              <h4>Interesting Places around</h4>

              <ui-gmap-google-map
                id="detail-map"
                center='detailsMap.center'
                zoom='detailsMap.zoom'
                options='detailsMap.options'>

                <ui-gmap-marker
                  idKey="wikivoyage-marker"
                  coords="mainMarker.coords"
                  icon="'/assets/images/pins3.png'">
                </ui-gmap-marker>

                <ui-gmap-markers
                  models="detailsMarkers"
                  coords="'self'"
                  click="detailsMarkerClicked"
                  fit="true">
                </ui-gmap-markers>

              </ui-gmap-google-map>

              <div id="interesting-place-details">
                  <p><strong>{{selectedInterestingPlace.label}}</strong></p>
                  <p>{{selectedInterestingPlace.description}}</p>
                <!-- <div ng-repeat="(key, value) in selectedInterestingPlace">
                  <p><strong>{{key}}:</strong> {{value}}</p>
                </div> -->
              </div>
            </div>
            <div id="locationinfo" ng-show="hasLocationInfo()">
              <h4>This attraction is located in <strong>{{locationInfo.label}}</strong></h4>
              <p>{{locationInfo.description}}</p>
            </div>
          </div>
          <!-- end colum -->

        </div>
        <div class="row">
          <div class="col-md-12">
            <div>Icon made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
